name: Deploy to VPS

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy to VPS
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_PRIVATE_KEY }}
          script: |
            # Load NVM (required for npm, npx, pm2)
            export NVM_DIR="/root/.nvm"
            source "$NVM_DIR/nvm.sh"
            # Use the installed Node version
            nvm use v20.19.5
            # Move to backend directory
            cd /root/perlme/backend
            # Pull latest changes
            git pull origin master
            # Install dependencies
            npm install
            # Build project
            npm run build
            # Run migrations
            npx drizzle-kit migrate
            # Restart API
            pm2 restart perlme_api
